
h2{
    margin: 0;
    text-align: center;
}
h4{
    font-size: 150%;
    padding-right: 50px;
text-align: right;
}
.navMenu{
background-color:#028090 ; 
display: grid;
grid-template-columns: 1fr  1fr;
align-items: center;
justify-content: center;
}
.maincontainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.registerBtn{
    text-align: right;
    margin-right: 50px;
}
.subConatiner{
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 1fr 8fr;
}
.fixedSideNav{
background-color: #00a896;
width: 100%;
height: 100%;
display: grid;
grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.sideNavItem{
    background-color: #00a896;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}
.sideNavItem img{
    height: 150px;
    width: 150px;
    border-radius: 37.5px; 
    margin-left: 0px;
    margin-bottom: 0px;
    }    
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color:#05668d;
    height: 100%;
    width: 100%;
}
.card-title{
    color: black !important;
}
.productCard{ 
    width: 300px ;
    height: 300px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
    h4{
        display: none;
    }
    .fixedSideNav{
      display: none;
    }

    .subConatiner{
       grid-template-columns: 1fr;
    }
    .productsContainer{
        width: 100%;
    }
    .productCard{
        margin-bottom: 150px;
    }
  }
  @media only screen and (max-width: 1100px) {

    .productCard{
        margin-bottom: 150px;
    }
  }
  